

html{
font-family: 'Alegreya', serif;
font-family: 'Chakra Petch', sans-serif;
}

h1,h2,h3,h4,h5,h6{
font-family: 'Chakra Petch', sans-serif;
}

header,h1,nav,main,article,aside,footer{
border:1px solid black;
padding:0;
margin:0;
}

header{
display: flex;
}

header h1{

}

header nav{
	margin-left: 100px;
	
}
header ul{
		display: flex;

}
header li{
	margin-left: 20px;
	
}

main{
	display: flex;
}

aside{
justify-content: flex-end;
}

