
body{
	text-align: center;
}
article{
	width: 800px;
		margin-left: 100px;
		justify-content: center;
		align-items: center;
}


article img {
	width: 300px;
	flex-grow: 1;
	object-fit: cover;
	align-items: center;
}
footer{
	text-align: left;
}

